<div class="jumbotron bg-primary text-white">
  <h1 class="display-4">Get the Power of AI</h1>
  <p class="lead">Automate almost everything!</p>
  <hr class="my-4">
  <p>Multiply your capability with the help of existing AI models.</p>
  <a class="btn btn-light btn-lg" href="/text-to-text" role="button">Give it a try</a>
</div>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Text to Text</h5>
        <p class="card-text">Text to Text conversion. Describe your need in text and get the most out of it using text.</p>
        <a href="/text-to-text" class="btn btn-primary">Give it a try</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Text to Image</h5>
        <p class="card-text">Text to Image conversion. Describe your need in text and get the most out of it using image.</p>
        <a href="/text-to-image" class="btn btn-primary">Give it a try</a>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Text to Audio</h5>
        <p class="card-text">Text to Audio conversion. Describe your need in text and get the most out of it using audio.</p>
        <a href="/text-to-audio" class="btn btn-primary">Git it a try</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Text to Video</h5>
        <p class="card-text">Text to Video conversion. Describe your need in text and get the most out of it using video.</p>
        <a href="/text-to-video" class="btn btn-primary">Give it a try</a>
      </div>
    </div>
  </div>
</div>